# Byte-code files
*.pyc
__pycache__/

# Virtual environment
.venv/

# Environment variables file
.env

# IDE specific files (optional, but often useful)
.vscode/
.idea/

# uvicorn logs (if any)
*.log

# Node.js dependencies
node_modules/

# npm logs
npm-debug.log*
